.image-container {
  margin-top: 40px;
  border-radius: 30px;
}
.image-gallery-slides,
.image-gallery-thumbnail {
  border-radius: 10px !important;
}

.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
  height: 60px !important;
}
