body {
  margin: 0;
  font-family: "Kumbh Sans", sans-serif;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  position: absolute !important;
  top: 20px;
  width: 400px;
}
